<!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
<div
  [ngClass]="{
    'm-pill-group-collapsible': hasOverflow,
    collapsed: collapsed && hasOverflow,
  }"
  aria-controls="pill-group-controls"
  [attr.aria-expanded]="!collapsed && hasOverflow"
  (click)="onWrapperClick($event)"
>
  <div class="read-more-wrapper" *ngIf="hasOverflow">
    <div>
      <button (click)="toggleCollapse($event)">
        <span *ngIf="collapsed">Show all {{ pillControls.length }}</span>
        <span *ngIf="!collapsed">Show fewer</span>
      </button>
    </div>
  </div>
  <ul #pillList id="pill-group-controls" class="m-pill-group">
    <li *ngFor="let c of pillControls">
      <ng-container
        *ngIf="
          hasPillClickedObservers;
          then withClickedObserver;
          else withoutClickedObserver
        "
      ></ng-container>
      <ng-template #withClickedObserver>
        <app-pill
          [control]="c"
          [tabSelectEnabled]="!collapsed || !hasOverflow"
          (clicked)="onPillClicked($event)"
        ></app-pill>
      </ng-template>
      <ng-template #withoutClickedObserver>
        <app-pill
          [control]="c"
          [tabSelectEnabled]="!collapsed || !hasOverflow"
        ></app-pill>
      </ng-template>
    </li>
  </ul>
</div>
